{{#.}}
    <div class="image" data-id="{{postId}}" data-full="{{cdnUrl}}">
        <a href="{{cdnUrl}}" target="_blank">
            <img src="{{cdnUrl}}" alt="{{title}} [Score: {{score}}]" title="{{title}} [Score: {{score}}]" />
        </a>
    </div>
{{/.}}