{{#.}}
    <div class="image {{determineNsfw .}}" data-id="{{postId}}" data-source="{{sourceId}}" data-full="{{cdnUrl}}">
        <a href="{{baseUrl}}/comments/{{externalId}}/" target="_blank">
            <img src="/cache/{{thumb}}_180_180.jpg" alt="{{title}}" title="{{title}} [Score: {{score}}]" />
        </a>
        <dl class="meta">
            <dt class="reader">Source</dt>
            <dd class="source">{{sourceName}}</dd>
            <dt class="reader">Score</dt>
            <dd class="score">{{score}}</dd>
        </dl>
    </div>
{{/.}}