<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {{#if ogData}}
            <meta property="og:title" content="{{ogData.title}}" />
            <meta property="og:image" content="{{ogData.image}}" />
            <meta property="og:url" content="{{ogData.url}}" />
        {{/if}}
        <title>
            {{#if pageTitle}}{{pageTitle}}{{else}}redditbooru - a place where cute girls come to meet{{/if}}
        </title>
        <script src="/static/js/dev/HashRedirect.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/scss/styles.css" />
        {{#inTestBucket "enableMobile" "enabled"}}
        <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="/static/scss/mobile.css" media="(max-width: 480px)" />
        {{/inTestBucket}}
    </head>
    <body{{#unless showNsfw}} class="hideNsfw"{{/unless}}>
        <header>
            <h1><a href="/">RedditBooru</a></h1>
            {{>search}}
            {{>nav this}}
        </header>
        <aside id="supporting" {{#if supporting}}class="hasContent"{{/if}}>{{{supporting}}}</aside>
        <section id="content">
            <div class="contentTitle">
                <h2 id="title"{{#unless title}} class="hidden"{{/unless}}>{{title}}</h2>
                <button id="clearSearch">Cancel Search</button>
            </div>
            <section id="images"{{#if imagesDisplay}} class="{{imagesDisplay}}"{{/if}}>
                {{{body}}}
            </section>
        </section>

        {{>dragdrop}}
        {{>upload}}
        {{>globalUploader}}
        {{>imageViewer}}

        <script>
            var RB = {};
            window.sources = {{{sources}}};
            window.filters = {{{jsonBlob filters}}};
        </script>
        <script src="/static/js/RedditBooru.js"></script>
        {{>ga}}
    </body>
</html>