<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {{#if ogData}}
            <meta property="og:title" content="{{ogData.title}}" />
            <meta property="og:image" content="{{ogData.image}}" />
            <meta property="og:url" content="{{ogData.url}}" />
        {{/if}}
        <title>
            {{#if pageTitle}}{{pageTitle}}{{else}}redditbooru - a place where cute girls come to meet{{/if}}
        </title>
        <script src="/static/js/HashRedirect.js?_{{js_version}}"></script>
        <link rel="stylesheet" type="text/css" href="/static/fonts/mission-gothic.css" />
        <link rel="stylesheet" type="text/css" href="{{asset_path}}/styles.css" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body class="{{#unless showNsfw}}hideNsfw{{/unless}}{{#if user}} logged-in{{/if}}">
        <div id="app"></div>
        {{{body}}}
        <script>
            var RB = {};
            window.sources = {{{jsonBlob sources}}};
            window.filters = {{{jsonBlob filters}}};
            window.tests = {{{jsonBlob tests}}};
            {{#if csrfToken}}
            window.csrfToken = '{{csrfToken}}';
            {{/if}}
        </script>
        <script src="{{asset_path}}/RedditBooru{{#if use_min_js}}.min{{/if}}.js?_{{js_version}}"></script>
        {{>ga}}
    </body>
</html>
