<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>
            {{#if pageTitle}}{{pageTitle}}{{else}}redditbooru - a place where cute girls come to meet{{/if}}
        </title>
        <link rel="stylesheet" type="text/css" href="/static/scss/styles.css" />
    </head>
    <body>
        <header>
            <h1>RedditBooru</h1>
            {{>search}}
            {{>nav}}
        </header>
        <aside id="supporting" {{#if supporting}}class="hasContent"{{/if}}>{{{supporting}}}</aside>
        <section id="content">
            <div class="contentTitle">
                <h2 id="title"{{#unless title}} class="hidden"{{/unless}}>{{title}}</h2>
                <button id="clearSearch">Cancel Search</button>
            </div>
            <section id="images"{{#if imagesDisplay}} class="{{imagesDisplay}}"{{/if}}>
                {{{body}}}
            </section>
        </section>

        {{>dragdrop}}
        {{>upload}}
        {{>globalUploader}}

        <script>
            var RB = {};
            window.sources = {{{sources}}};
        </script>
        <script src="/static/js/RedditBooru.js"></script>
    </body>
</html>