{{#if images.0.userName}}
  <p class="curated">Curated by <a href="/user/{{images.0.userName}}/">{{images.0.userName}}</a>
{{/if}}
{{#each images}}
    <div class="gallery-image">
        <img src="{{cdnUrl}}" style="max-height: {{height}}px" />
        {{#if caption}}
            <p>{{caption}}{{#if sourceUrl}} [ <a href="{{sourceUrl}}" target="_blank">Source</a> ]{{/if}}</p>
        {{else}}
            {{#if sourceUrl}}<p>[ <a href="{{sourceUrl}}" target="_blank">Source</a> ]</p>{{/if}}
        {{/if}}
    </div>
{{/each}}
{{#if wasResized}}
    <button id="resizeGalleryImages">Expand Images</button>
{{/if}}