<script>
    window.galleries = {};
</script>
<ul class="user-galleries">
    {{#galleries}}
        <li data-id="{{id}}">
            <img src="{{images.0.thumb}}_300_300.jpg" alt="{{title}}" />
            <h3>
                {{title}}
                <button class="edit-album">Edit Album</button>
            </h3>
            {{#each linkedPosts}}
                <p>Posted to {{sourceName}} as <a href="http://redd.it/{{externalId}}">"{{title}}"</a> {{relativeTime dateCreated}} ago</p>
            {{/each}}
            <a href="{{link}}" class="view-gallery" target="_blank">View Gallery</a>
        </li>
    {{/galleries}}
</ul>

{{#with paging}}
    <ul class="paging">
        {{#if hasPrev}}
            <li><a href="/gallery/mine/?p={{prev}}">&laquo; Previous</a></li>
        {{/if}}
        {{#each pages}}
            {{#if current}}
                <li class="current">{{page}}</li>
            {{else}}
                <li><a href="/gallery/mine/?p={{page}}">{{page}}</a></li>
            {{/if}}
        {{/each}}
        {{#if hasNext}}
            <li><a href="/gallery/mine/?p={{next}}">Next &raquo;</a></li>
        {{/if}}
    </ul>
{{/with}}